$dark-blue: #000033;
$dark-blue-tint1: rgba(11, 11, 64, 0.7);
$dark-blue-tint1: rgba(11, 11, 64, 0.95);
$dark-blue-tint2: rgb(20, 20, 70);
$dark-blue-tint3: rgb(13, 13, 51);
$light-blue-tint1: rgb(188, 188, 204);
$light-blue-tint2: rgb(115, 115, 136);
$purple: #793f85;
$blue: #0058b9;
$red: #cf216a;
$gold: #fdcb02;
@import 'base.scss';
