$dark-blue: #fdcb02;
$dark-blue-tint1: #fdcb02;
$dark-blue-tint2: rgb(20, 20, 70);
$dark-blue-tint3: rgb(13, 13, 51);
$light-blue-tint1: #fdcb02;
$light-blue-tint2: rgb(115, 115, 136);
$purple: #793f85;
$blue: #0058b9;
$red: rgb(13, 13, 51);
$gold: #fdcb02;
@import 'base.scss';
